DATABASE_URL=postgresql://postgres:postgres@db:5432/auth_db?sslmode=disable
APP_BASE_URL=http://localhost
FRONTEND_URL=http://localhost:3000
DB_HOST=db
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db
ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=admin123
JWT_SECRET=super_secret_key_123
SENDGRID_API_KEY=
SENDGRID_EMAIL=
REDIS_HOST=redis
REDIS_PORT=6379
