DB_HOST=localhost
DB_PORT=5432
DB_NAME=go_auth
DB_USER=root
DB_PASSWORD=postgres
DB_SSLMODE=disable
ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=admin123
JWT_SECRET=super_secret_key_123
SENDGRID_API_KEY=
SENDGRID_EMAIL=
