# Golang
/bin/
/bin
/build/
/build
/dist/
/dist
*.exe
*.test
*.out

# Env files
.env
.env.docker

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Dependency directories
vendor/

# OS files
.DS_Store
Thumbs.db
